# CS 124 Tutorial: `Python` Review

__Authors(s):__ `Dilara Soylu (Winter '21)`

<a id='overview'></a>
## Overview

This tutorial assumes that you have completed the following from the 
[PA 0 repository](https://github.com/cs124/pa0-python-jupyter-tutorial):
* Setup instructions for your machine
* [Jupyter Notebook Tutorial](https://github.com/cs124/pa0-python-jupyter-tutorial/blob/main/jupyter_tutorial.ipynb)

We use `Python` for all of our programming assignments in `CS 124`. 
In this tutorial, we will cover all the things you need to know in `Python` to 
be able to work on our assignments.
We recommend quickly skimming through all parts of this tutorial to ensure that 
you are familiar with all `Python` tips that can be useful when working on the 
assignments, even if you are already comfortable with `Python`.
Feel free to adjust the amount of time you spend on each section based on your 
familiarity level!
Try to get yourself familiar with the contents of this tutorial, but don't fret 
if some concepts aren't clear or if you can't remember some of the syntax.
We have prepared this tutorial to be a reference for you throughout the quarter,
so feel free to come back whenever you need a refresher.

This tutorial was adapted from the
[CS 221 Python Tutorial (Spring 2021)](https://colab.research.google.com/drive/1-9Z_dLRJBWZdKaMNLqBMF9TrXc1553IK?usp=sharing) by `Dilara Soylu`. 
Original version largely based on the 
[CS 224N Python Tutorial (Winter 2021)](http://web.stanford.edu/class/cs224n/readings/cs224n-python-review-code-updated.zip) by `Angelica Sun`, as well as the 
[W3Schools Python Tutorial](https://www.w3schools.com/python/).

<a id='contents'></a>
## Contents

1. [Running Python](#running_python)
    * [Python Interpreter](#python_interpreter)
    * [Running `.py` Files](#running_py_files)
    * [Troubleshooting Version Errors](#troubleshooting_version_errors)
2. [Syntax](#syntax)
3. [Variables](#variables)
4. [Basic Data Types and Operations](#basic_data_types_and_operations)
    * [Numbers](#numbers)
    * [Booleans](#booleans)
    * [Strings](#strings)
5. [Iterables](#iterables)
    * [List](#list)
    * [Tuple](#tuple)
    * [Dictionary](#dictionary), [DefaultDict](#defaultdict), 
      [Counter](#counter), [Set](#set)
    * [Sorting](#sorting)
    * [List Comprehensions](#list_comprehensions), 
      [Dictionary and Set Comprehensions](#dictionary_and_set_comrehensions)
    * [Copying Data Structures](#copying_data_structures)
6. [Control Flow](#control_flow)
    * [If Condition](if_condition)
    * [For Loop](#for_loop)
    * [While Loop](#while_loop)
7. [Functions](#functions)
8. [Classes](#classes)
9. [Next Steps](#next_steps)

<a id='running_python'></a>
## Running `Python`

In `CS 124`, all of the coding work you need to do will be in `Jupyter Notebook`
except for the last assignment.
That is, you will run `Python` code by running notebook cells in the 
assignments.
`Jupyter Notebook Tutorial` linked at the top of this notebook explains 
notebooks in further detail.
In this section, we touch on the other ways you may run `Python`.

<a id='python_interpreter'></a>
### `Python` Interpreter

Just like any other programming language, we can also run `Python` through the 
terminal.
You do not need to work with this until the very last assignment, but we are 
sharing it here for completeness.

You can start the `Python` interpreter by typing the following command in your 
terminal:
```
python
```

Once you run this command, you will see an output similar to the one shared 
below:
```
Python 3.8.5 (default, Sep  4 2020, 02:22:02) 
[Clang 10.0.0 ] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> 
```

You can use this interactive terminal to run `Python` code, which is useful if 
you want to quickly test things out. 
Here is an example of how we could use this interactive terminal:
```
Python 3.8.5 (default, Sep  4 2020, 02:22:02) 
[Clang 10.0.0 ] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> a = 5
>>> a
5
```

To exit this interactive terminal, you can type `exit()`! Pay attention to the 
paranthesis!

<a id='running_py_files'></a>
### Running `.py` Files

You can also run files containing `Python` code.
This is what we will do in the last assignment!
These files usually end with the `.py` extension, but this is not a strict 
requirement, `python` will run whatever file you tell it to run, regardless of 
the file extension.

Assume that we have a file named `example.py`, which contains the following:
```
print("Hello World!")
```
We can run this file using the following command:
```
python example.py
```
which will print the following in our terminal:
```
Hello World!
```

<a id='troubleshooting_version_errors'></a>
### Troubleshooting Version Errors

One common error you may run into when running `Python` files this way is using 
the wrong `Python` installation on your machine!
This is likely the underlying problem if you ever find yourself getting 
`Import Error` errors (e.g. `Import Error: No module named numpy`).

For our assignments, we always want to run the `Python` in the `cs124` `conda` 
environment.
One exception to this is when you are running the notebook in `Google Colab`, 
where we won't be using our `conda` environment. 
If this is the case, ensure that the version of the `Python` you are using as 
well as the versions of the `Python` modules you are importing in `Google Colab`
match the ones in our `conda` environment. 
Please consult with a CA for further help.

The following command lets you figure out which `Python` is called when you run 
the `python` command in your terminal:
```
which python
```
If you are in the `cs124` `conda` environment, you will see an output similar to
the following, which will vary based on your machine:
```
/Users/username/.miniconda3/miniconda3/envs/cs124/bin/python
```
If you instead get an output that looks like the following:
```
/usr/bin/python
```
It likely means that you have not activated our `conda` environment!

`which python` command only runs in the terminal.
To figure out which version of `Python` your notebook is running, you can create
a code cell, and run the following:
```
!which python
```
The `!` mark at the beginning of the line tells `Jupyter Notebook` to run this
command in the terminal.
Try it in the cell below!

In [ ]:
!which python

/usr/local/bin/python

<a id='syntax'></a>
## Syntax

Let's start coding in `Python` with the famous `Hello World` exercise.

In [ ]:
# Printing Hello World!
print("Hello World!")

Hello World!

You have succesfully printed out `Hello World`, which means you are now a 
`Python` programmer!
Let's learn about a few other important syntax tidbits in `Python`.

Unlike the other programming languages that you may be familiar with, 
indentation matters in `Python`.
Lines of code that are in the same block of code should be indented with the 
same number of spaces.

In [ ]:
# Example of an Indentation Error
print("Hello")
    print("Hello World!")

IndentationError: ignored

You can use line comments or block comments to comment code in `Python`.

In [ ]:
# Line comment

"""
Block comment
"""

print("Hi!")

Hi!

As you may remember from the `Jupyter Notebook Tutorial`, `Jupyter Notebook` 
automatically prints the value of the variable in the last line of a code cell,
so we don't need to call `print`. 
We will stick to using `print` for some of our examples in the remaining of this
notebook to make our intent clear.

In [ ]:
"Hi"

'Hi'

<a id='variables'></a>
## Variables

In `Python`, variables are defined by assigning value to them.
There is no need to explicitly declare the type of a variable.
Function `type()` below returns the type of the passed in variable.
When we print the output of the `type()` function, we get a string 
representation of an object's type.

In [ ]:
var1 = 'hello' # str, immutable
var2 = 10      # int, immutable
var3 = 10.0    # float, immutable
var4 = True    # bool, immutable
var5 = False   # bool, immutable
var6 = (8,9)   # tuple, immutable
var7 = [1,2,3] # list, mutable     
var8 = None    # None     

print(type(var1)) 
print(type(var2)) 
print(type(var3)) 
print(type(var4)) 
print(type(var5)) 
print(type(var6))
print(type(var7))
print(type(var8))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'NoneType'>

Similar to other programming languages, the values of the `immutable` types 
cannot be changed after initialization in `Python`. 
For example, while we can change the values of the individual elements in a 
`list` in `Python`, we can't change an element of a `tuple`, which are 
`immutable`.
We will cover each of these types in more detail in the following sections, 
so no need to fully understand them now.

We can re-assign a variable name to a different type.

In [ ]:
var = "Hi CS 124!"
print(type(var)) 

var = 10
print(type(var))

<class 'str'>
<class 'int'>

We can cast variables to different types.

In [ ]:
a = 10       # int
b = str(a)   # int to str
c = int(b)   # str to int
d = float(c) # int to float

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

10 <class 'int'>
10 <class 'str'>
10 <class 'int'>
10.0 <class 'float'>

Variable names are sensitive to case.

In [ ]:
a = 10
A = "CS 124"
print(a == A)

False

We can assign values to multiple variables in one line.

In [ ]:
a, b, c = "I", "love", "CS 124"
print(a)
print(b)
print(c)

I
love
CS 124

We can also print multiple variables in one `print` statement by seperating 
them with a comma.
The `print()` function combines the variables we passed in with a `space` in 
between.

In [ ]:
a, b, c = "I", "love", "CS124"
print(a, b, c)

I love CS124

In `Python`, the conventional wisdom is to name variables using numbers and 
lowercase letters, using `_` for variable names containing multiple parts.
`Python` variable names cannot start with numbers.

In [ ]:
important_date1 = 'February 21, 2021'
important_date1

'February 21, 2021'

Some words in `Python` refer to special built-in functions or classes.
Although `Python` lets you use these as variable names, we recommend avoiding 
doing so to prevent errors and make your program more readible to others!
Common ones you may want to avoid are as follows, though a complete list can be 
found in the 
[Built-in Functions](https://docs.python.org/3/library/functions.html) page of 
the official `Python` documentation (navigate to your version of `Python`):
```
bool, chr, dict, id, list, map, object, str, vars
```

We show what happens when we override a built-in class below.

In [ ]:
# abs is a built-in function returning the absolute value of a number
print(abs)
print(abs(-1.0))

<built-in function abs>
1.0

In [ ]:
# Let's see what happens when we use abs as a variable name
num = -1.0
abs = 1.0
print(type(abs))
print(abs)

<class 'float'>
1.0

In [ ]:
# Let's try using the abs function again!
abs(-1.0) # TypeError

TypeError: ignored

We have got a `TypeError` when we tried to use `abs` as a function after using 
it as a variable name earlier.
We can use the `del` statement in `Python` to delete our newly created variable
from `Python's` memory, which will let `Python` to re-bind `abs` to the 
built-in function.
You will get an error if you run the below cell for a second time, as at that 
point `Python` will hopelessly try to find a variable named `abs`.

In [ ]:
del abs
abs(-1.0)

1.0

Overriding the built in functions is especially tempting when you want to 
create the list variable you define as `list`.
The `id` function is another common example that can be a tempting variable 
name.
We recommend being more descriptive when coming up with variable names, or 
using generic ones such as `alist`, `atuple`, and `adict` if the variable is 
defined as an intermediary step.

**Fun Fact:** `Python` stores the value of the last assigned variable in a variable named `_`.

In [ ]:
_

1.0

You will also see people using `_` as a placeholder for unimportant values.
This part will become clearer in the `Loops` and `Tuples` sections.

In [ ]:
_, a, b = "not important", "important", "also important"
a, b

('important', 'also important')

<a id='basic_data_types_and_operations'></a>
## Basic Data Types and Operations

In this section, we cover basic data types and operations defined on them.

<a id='numbers'></a>
### Numbers

In `Python`, numbers can be integers or floats.
Following operations are defined on numbers.

In [ ]:
num = 10
print(num + 4)      # Add with +
print(num - 4)      # Subtract with -
print(num * 4)      # Multiply with *
print(num ** 4)     # Exponentiate with **
print(num / 4)      # Float division with / 
print(num // 4)     # Integer division with //
print(int(num / 4)) # Integer division is the same as dividing then casting

14
6
40
10000
2.5
2
2

We can convert an operator to a compounding operator by appending `=` to it.

In [ ]:
num **= 4
num

10000

You may be used to seeing increment (`++`) and decrement (`--`) operators in 
other languages.
In `Python`, we use the compounding operators to increment or decrement.

In [ ]:
num += 1
print(num)

num -= 1
print(num)

10001
10000

If called without arguments, `int` and `float` constructors are passed `0` 
as the default argument.

In [ ]:
int(), float()

(0, 0.0)

<a id='booleans'></a>
### Booleans

Boolean literals in `Python` are `True` and `False`.
Logical operations in `Python` use plain English: `not`, `and`, and `or`.

In [ ]:
print(True)           # True
print(False)          # False
print(not True)       # False
print(True and False) # False
print(True or False)  # True

False
False
True

To check for value equality or inequality, we use `==` or `!=`, respectively.

In [ ]:
a, b = "124", "124"
print(a == b)

True

You can also use `is` to check whether two variables are pointing to the same 
`Python` object.
Even though they are initialized to be the same text, two long enough string 
variables often times don't point to the same object in `Python`.
Variables that have primitive values, such as `True`, `None` or `1`, point to 
the same `Python` object, so comparing them using `is` will return `True`.
If your intent is to check value equality for generic `Python` objects, use 
`==`.
You can use `is` or `is not` when checking if a variable's value is `None`.

In [ ]:
a1, b1 = 'Hello!', 'Hello!'
a2, b2 = 1, 1
a3, b3 = None, None

print(a1 is b1) # False
print(a2 is b2) # True
print(a3 is b3) # True

False
True
True

Operations `>=` and `<=` can be used to compare `Python` variables, when the 
order is defined for the classes that are being compared.
If you are extra curious, you can refer to this 
[link](https://www.geeksforgeeks.org/sorting-objects-of-user-defined-class-in-python/)
to learn how to define order for user defined classes.

In [ ]:
a, b = 6, 8
print(b >= a)

True

We can use the `bool()` constructor to cast variables or literals to their 
boolean values.
Let's look into __truthiness__ and __falseness__ of different values using the 
`bool()` function.

In [ ]:
b1 = bool(True)  # Boolean value of True is True
b2 = bool(False) # Boolean value of False is False
b3 = True == 1   # True is equivalent to 1 in Python
b4 = False == 0  # False is equivalent to 0 in Python
b5 = bool(8)     # Boolean value of any non-zero number is True
b6 = bool(-1)    # ^
b7 = bool(None)  # Boolean value of None is False

print(b1)
print(b2)
print(b3) 
print(b4)
print(b5)   
print(b6)
print(b7)

True
False
True
True
True
True
False

Knowing the truth values of variables will be important when we cover `lists` 
and `conditionals` in the following sections.
The properties shared in the following cell will be especially important and we 
will revisit them.

In [ ]:
b8 = bool([])    # Boolean value of empty objects (e.g. empty list) are False
b9 = bool([1,2]) # Boolean value of non-empty objects are True

print(b8)   
print(b9)

False
True

<a id='strings'></a>
### Strings

We have seen examples of using equality operators with strings in the `Booleans`
section.
We can check if a string comes after another one alphabetically.

In [ ]:
a, b = 'a', 'b'
a < b

True

Listed below are some other important operations we can do on strings.

In [ ]:
a = "i love CS124! "
b = "How about you?"

print(len(a))         # get length of a string
print(a[0])           # index a string
print(a[2:6])         # get a substring from a string: [start_index, end_index)
                      # other indexing conventions covered in the lists section
print(a + b)          # concatenate string
print(a * 4)          # concatenate a string n times
print(a.lower())      # lower characters in a string
print(a.upper())      # capitalize characters in a string
print(a.capitalize()) # capitalize the first character a string
print(a.strip()+'!')  # strip leading and trailing whitespace in a string
# a[0] = 'I'          # we can't re-assign to a string: strings are immutable

14
i
love
i love CS124! How about you?
i love CS124! i love CS124! i love CS124! i love CS124!
i love cs124!
I LOVE CS124!
I love cs124!
i love CS124!!

In [ ]:
print('love' in a)     # check if a substring exists in a string
print('love' not in a) # check if a substring exists in a string
print(a.index('love')) # get the start index of the 1st occurence of a substring

True
False
2

We can split a string and combine it back again using a delimiter.

In [ ]:
a_splitted  = a.split()            # split on the default delimiter space
a_splitted2 = a.split('2')         # split on '2'
a_joined    = '-'.join(a_splitted) # join on '-'

print(a_splitted)
print(a_splitted2)
print(a_joined)

['I', 'love', 'CS124!']
['I love CS1', '4!']
I-love-CS124!

Sometimes we need to tell `Python` to interpret a character in a string in a 
special way.
We use the the escape character, `\`, for this purpose.
We can also use `\` to print special characters, such as a new line.
What should we do to tell `Python` that `\` should be a part of the string as 
well?
We can use raw strings (`r-strings`), which are string literals starting with 
an `r`.

**Fun Fact:** `print` function always adds a new line character at the end!

In [ ]:
s1 = "This string contains a \" character!" # Escape "
s2 = "First line.\nSecond line."            # Add new line \n
s3 = r'C:\users\user1\Documents'            # Create a raw string

print(s1)
print(s2)
print(s3)

This string contains a " character!
First line.
Second line.
C:\users\user1\Documents

We can put values of variables into strings using format strings (`f-strings`), 
which are string literals prepended with an `f`.
This becomes especially handy when printing!

In [ ]:
pi        = 3.14159
pi_string = f"Pi is {pi}!"

print(pi_string)

Pi is 3.14159!

In [ ]:
# We can also use the % operator to format strings
# (pi, pi) creates a tuple, which is covered in detail later
pi_string = "Pi is %.2f! If we round pi, we get %d." % (pi, pi)
pi_string

'Pi is 3.14! If we round pi, we get 3.'

Before we end our discussion on strings, let's take a second look at how 
trings are created in `Python`. 
In `Python` strings can be created by encapsulating text in `'`, or `"`. 
We can also create strings by encapsulating text in triple single or double 
quotes (`'''` or `"""`).
The triple versions let's us have strings spanning multiple lines unlike the 
others. 
You are free to use any of these when creating a string, but the conventional 
usage is as follows:
* Use `'` when defining functional strings, such as `RegExes`, string literals, 
  etc.
* Use `"` when defining string variables that will be shown to an end user. 
* Use `"""` for strings spanning multiple lines.

In [ ]:
c = 'a'
text = "Hello user!"

print(c)
print(text)

a
Hello user!

In [ ]:
# We can define multi-line strings
multi_line = """This is a multi line string.
You will see new line characters in the output,
corresponding to the line breaks here."""

print(multi_line)

This is a multi line string.
You will see new line characters in the output,
corresponding to the line breaks here.

In [ ]:
# We can escape line breaks with \
multi_line = """This is a multi line string. \
You won't see new line characters in the output, \
because we have escaped them.\
"""

print(multi_line)

This is a multi line string. You won't see new line characters in the output, because we have escaped them.

It is also possible to write multi line strings using `'` or `"`, using the `\` 
character.

<a id='iterables'></a>
## Iterables

There are several different built-in iterable objects in `Python`.

In [ ]:
# immutable iterables, with fixed size
astring = str()
atuple = tuple()

# mutable iterables, not fixed size
alist = list()  # linear
adict = dict()  # hash table, stores (key, value) pairs
aset = set()    # hash table, like dict but only stores keys

Size of any iterable can be obtained with `len`.

In [ ]:
print(len(alist))

0

<a id='list'></a>
### List

Lists store an ordered list of elements.

In [ ]:
"""
List: 

  mutable - not hashable: can't be used as dictionary keys
  dynamic size
  allows duplicates and inconsistent element types
  dynamic array implementation
"""
alist = []          # equivalent to list()
alist = [1,2,3,4,5] # initialize a list

Strings are immutable lists.
Following list operations also apply to strings.

In [ ]:
print(alist[0])    # get first element (at index 0)
print(alist[-2])   # get 2nd to last element (at index len-1)
print(alist[3:])   # get elements starting from index 3 (inclusive)
print(alist[:3])   # get elements stopping at index 3 (exclusive)
print(alist[2:4])  # get elements within index range [2,4)
print(alist[6:])   # prints [] because index is out of range
print(alist[:])    # copy the list
print(alist[::-1]) # reverse a list

5
4
[4, 5]
[5, 2, 3]
[3, 4]
[]
[5, 2, 3, 4, 5]
[5, 4, 3, 2, 5]

Unlike strings, we can re-assign values in a list.

In [ ]:
print(alist[0])
alist[0] = 5
print(alist[0])

1
5

We can call methods on a list.

In [ ]:
alist.append('new item')    # insert at end
alist.insert(0, 'new item') # insert at index 0
alist.extend([2,3,4])       # concatenate lists (same as +=)
alist += [2,3,4]            # concatenate lists (same as .extend())
alist.index('new item')     # search by content
alist.remove('new item')    # remove by content
popped = alist.pop(0)       # remove by index

print(alist)
print(popped)

[2, 3, 4, 5, 'new item', 2, 3, 4]
5

We can check if an element is contained in a list.

In [ ]:
if 'new item' in alist:
    print("found")

found

<a id='tuple'></a>
### Tuple

Tuples allow us to store immutable lists.

In [ ]:
"""
Tuple: 

  immutable - hashable: can be used as a dictionary key
  fixed size: no insertion or deletion
"""
atuple = (1,2,3,4,5)
atuple

(1, 2, 3, 4, 5)

In [ ]:
not_tuple = (1)  # enclosing a variable in paranthesis doesn't make a tuple
atuple = (1,)    # syntax to make a 1-tuple

print(type(not_tuple))
print(type(atuple))

<class 'int'>
<class 'tuple'>

Indexing or traversal of a `tuple` is the same as that of a `list`.

In [ ]:
# Defining tuple from a list
atuple = tuple([1,2,3])

We can use tuples as dictionary keys. 
Dictionaries are covered in detail in the next section.

In [ ]:
ngram = ('a', 'cat')
d = dict()
d[ngram] = 10
d[ngram] += 1

We can use named tuples to improve readability.

In [ ]:
from collections import namedtuple

Point = namedtuple('Point', 'x y')
pt1 = Point(1.0, 5.0)
pt2 = Point(2.5, 1.5)
print(pt1.x, pt1.y)

1.0 5.0

<a id='dictionary'></a>
### Dictionary

Dictionaries are useful for storing key - value pairs.

In [ ]:
"""
Dict: 

  not hashable 
  dynamic size
  no duplicates allowed
  hash table implementation which is fast for searching

"""
adict = {} # same as dict()
adict = {'dog': 10, 'bird': 5, 'lion': 8}
print(adict)

{'dog': 10, 'bird': 5, 'lion': 8}

We can get keys, values or items in a dictionary.

In [ ]:
print(adict.keys())
print(adict.values())
print(adict.items())

dict_keys(['dog', 'bird', 'lion'])
dict_values([10, 5, 8])
dict_items([('dog', 10), ('bird', 5), ('lion', 8)])

Let's try indexing into the key list!

In [ ]:
a = adict.keys()
a[0]

TypeError: ignored

We have gotten a `TypeError`!
Dictionary methods such as `.keys()`, `.values()`, and `.items()` do not
return lists.
They return an `iterable` object, such as `dict_keys`. 
If you want to convert an `iterable` object to a list or a set, you should
pass it to the appropriate initializers.

In [ ]:
a = list(adict.keys())
a[0]

'dog'

This may sound confusing at first.
Think about the general use cases for `.keys()` or `.values()`.
They are usually used as part of loops, and they simply provide an interface
for programmers to iterate over a list of items. 
Instead of allocating all the memory required for a pre-computed list, 
`Python` evaluates the loops in a lazy way and only returns the next item as 
needed in the loop.

We can access an item with a specific key.

In [ ]:
print(adict['lion'])

8

We can check if a key exists in a dictionary. 
This is needed since accessing non-existent keys throws an error.

In [ ]:
adict['tiger']

KeyError: ignored

In [ ]:
if 'tiger' in adict:
  print(adict[key])
else:
  print('Key not found.')

Key not found.

The syntax to insert new keys is the same as modifying existing keys, and shown 
in the following cell.

In [ ]:
adict['tiger'] = 1 # add a new key since 'tiger' isn't in our keys list
adict['lion'] = 20 # modify existing key since 'lion' is already a key

Traversing dictionaries.

In [ ]:
for key in adict:
    print(key, adict[key])

dog 10
bird 5
lion 8

Traversing key, value pairs together.

In [ ]:
for key, val in adict.items():
  print(key, val)

dog 10
bird 5
lion 20
tiger 1

<a id='defaultdict'></a>
#### DefaultDict

`DefaultDict` is a special dictionary that returns a default value when a key 
queried isn't found.

In [ ]:
from collections import defaultdict

adict = defaultdict(int)
adict['cat'] = 5
print(adict['cat'])
print(adict['dog'])

5
0

It is also possible to pass a custom function.

In [ ]:
from collections import defaultdict
adict = defaultdict(lambda: 'unknown')
adict['cat'] = 'feline'
print(adict['cat'])
print(adict['dog'])

feline
unknown

<a id='counter'></a>
#### Counter

`Counter` is a dictionary with default value of 0.

In [ ]:
from collections import Counter

# initialize and modify empty counter
counter1 = Counter()
counter1['t'] = 10
counter1['t'] += 1
counter1['e'] += 1
print(counter1)

Counter({'t': 11, 'e': 1})

We can initialize counters from other iterables.

In [ ]:
counter2 = Counter("letters to be counted")
print(counter2)

Counter({'e': 4, 't': 4, ' ': 3, 'o': 2, 'l': 1, 'r': 1, 's': 1, 'b': 1, 'c': 1, 'u': 1, 'n': 1, 'd': 1})

We can perform operations between counters.

In [ ]:
print("1", counter1 + counter2)
print("2", counter1 - counter2)
print("3", counter1 or counter2) # or for intersection, and for union

1 Counter({'t': 15, 'e': 5, ' ': 3, 'o': 2, 'l': 1, 'r': 1, 's': 1, 'b': 1, 'c': 1, 'u': 1, 'n': 1, 'd': 1})
2 Counter({'t': 7})
3 Counter({'t': 11, 'e': 1})

We can use other special methods on counters.
Check out the docs for more!

In [ ]:
counter2.most_common(5)

[('e', 4), ('t', 4), (' ', 3), ('o', 2), ('l', 1)]

We can iterate list of tuples.

In [ ]:
for k,v in counter2.most_common(5):
  print(k, v)

e 4
t 4
  3
o 2
l 1

<a id='set'></a>
#### Set

Set is a special dictionary without values.

In [ ]:
aset = set()
aset.add('a')
aset

{'a'}

We can use sets to remove duplicates from a list.

In [ ]:
alist = [5,2,3,3,3,4,3]
alist = list(set(alist))
print(alist)

[2, 3, 4, 5]

In [ ]:
set(alist)

{2, 3, 4, 5}

In [ ]:
list(set(alist))

[2, 3, 4, 5]

<a id='sorting'></a>
### Sorting

We can sort iterables.

In [ ]:
a = [4,6,1,7,0,5,1,8,9]
a = sorted(a)
print(a)
a = sorted(a, reverse=True)
print(a)

[0, 1, 1, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 1, 1, 0]

We can sort iterables containing tuples.

In [ ]:
# sorting
a = [("cat",1), ("dog", 3), ("bird", 2)]
a = sorted(a)
print(a)
b = sorted(a, key=lambda item: item[1])
print(b)

[('bird', 2), ('cat', 1), ('dog', 3)]
[('cat', 1), ('bird', 2), ('dog', 3)]

We can pass a function we define outside instead of a lambda function.

In [ ]:
def sorting_key(item):
  return item[1]

sorted(a, key=sorting_key)

[('cat', 1), ('bird', 2), ('dog', 3)]

We can sort dictionaries the same way.

In [ ]:
adict = {'cat':3, 'bird':1}
print(sorted(adict.items(), key=lambda x:x[1]))

[('bird', 1), ('cat', 3)]

<a id='list_comprehension'></a>
### List Comprehension

Instead of using `for` loops every time, we can use list comprehensions to 
create new lists or other iterables.

In [ ]:
"""
sentences1 = []
for s in sentences:
    sentences1.append(s.lower().split(" "))
""" 

sentences = ["i am good", "a beautiful day", "HELLO FRIEND"]
sentences1 = [s.lower().split(" ") for s in sentences]
print(sentences1)

[['i', 'am', 'good'], ['a', 'beautiful', 'day'], ['hello', 'friend']]

We can have conditions.

In [ ]:
sent1 = [s.lower().split(" ") for s in sentences if len(s) > 10]
print(sent2)

[['a', 'beautiful', 'day'], ['hello', 'friend']]

We can use double `for` loops too!
The same logic works for any number of nested loops and can be combined
with conditionals.
We can achieve this by just combining the regular loop expression from the
most outer one to the inner one: 
`[outer] for s in sentences [inner] for c in s`.

In [ ]:
"""
chars = []
for s in sentences:
  for c in s:
    chars.append(c)
"""

chars = [c for s in sentences for c in s if c == 'a'] 
chars

['a', 'a', 'a', 'a']

A useful function we can use on lists is `zip`.

In [ ]:
keys = ['a', 'b', 'c']
values = [10, 5, 30]
zipped = zip(keys, values)
print(zipped)              # zip object
print(list(zipped))        # pass to list to unzip

for k, v in zip(keys, values):
  print(k, v)

<zip object at 0x7fc747a65640>
[('a', 10), ('b', 5), ('c', 30)]
a 10
b 5
c 30

<a id='dictionary_and_set_comprehensions'></a>
### Dictionary and Set Comprehensions

We can use comprehension techniques for other `Python` structures, such as 
dictionaries and sets.
Nested loops and conditionals apply similarly.

In [ ]:
keys = ['a', 'b', 'c']
adict = {k: i for i, k in enumerate(keys)}
print(adict)

{'a': 0, 'b': 1, 'c': 2}

In [ ]:
adict = {'a': 1, 'b': 2, 'c': 3}
adict_reverse = {v: k for k, v in adict.items()}
adict_reverse

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
aset = {1, 2, 3}
aset_double = {2*n for n in aset}
aset_double

{2, 4, 6}

<a id='copying_data_structures'></a>
### Copying Data Structures

Copying data structures can be confusing.

Run the following code to determine how data structures are copied in `Python`.

In [ ]:
d = {'one': 1, 'two': 2} # Create a dictionary
dcopy = d
dcopy['three'] = 3 

print(d)     # d is changed!
print(dcopy)

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}

__Copying vs. Aliasing__ When we assign a variable containing a data structure 
(`d`) to a new variable (`dcopy`), `Python` simply makes the latter an alias of 
the former. 
Therefore, changing the copy changes the original data structure.
Below is an example avoiding this problem.

In [ ]:
dcopy = {k:v for k, v in d.items()}
dcopy['four'] = 4

print(d)     # d is not changed!
print(dcopy)

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3, 'four': 4}

__Copying through Slicing__ We have seen a method to copy a `list` in the 
previous sections!

In [ ]:
# One way to properly copy list is through slicing
nums = [1, 2, 3, 4]
ncopy = nums[:] 

# Another alternative, similar to the dictionary example from before
ncopy = [i for i in nums]

# Modify the copy
ncopy[3] = 10

# Observe that nums didn't change
print(f"copy is {ncopy}")
print(f"nums is {nums}")

copy is [1, 2, 3, 10]
nums is [1, 2, 3, 4]

We can also use list, dictionary or set comprehensions to copy iterables 
properly.

<a id='control_flow'></a>
## Control Flow

Like other programming languages, `Python` lets us control the flow of our 
program using conditionals and loops.
We have seen examples of these in the previous sections, but this section 
presents them in more detail.

<a id='if_condition'></a>
### If Condition

We can execute a portion of code based on a condition.

In [ ]:
operation = "add"
num = 6

if operation == "add":
    print("Adding: ", num + num)

Adding:  12

We can extend our example to include alternative cases.

In [ ]:
operation = "multiply"
num = 6

if operation == "add":
    print("Adding: ", num + num)
elif operation == "multiply":
    print("Multiplying: ", num * num)
else:
    print("Operation is not defined.")

Multiplying:  36

Boolean value of a variable which has a `None` value is `False`.
Similarly, empty arrays or strings og length 0 also have a boolean value of 
`False.
We can check for these with an `if` statement.

In [ ]:
a = None # or an empty list
if a:
  print("List containing at least one element")
else:
  print("None or an empty list")

None or an empty list

In [ ]:
# Check for `None` directly
if a is None:
  print('yes')

yes

<a id='for_loop'></a>
### For Loop

We can use loops to iterate over iterables, such as strings or lists.

In [ ]:
s = "I love CS124!"
for character in s:
  print(character)

I

l
o
v
e

C
S
1
2
4
!

In [ ]:
arr = ['a','b','c','d','e','f']
index = 0
for char in arr:
  print(char)

a
b
c
d
e
f

If we also want to keep track of the iteration number, we can use the 
`enumerate` function.

In [ ]:
for i, char in enumerate(a):
  print(i, char)

0 I
1
2 l
3 o
4 v
5 e
6
7 C
8 S
9 1
10 2
11 4
12 !

We can iterate a set number of times using the `range` function.

In [ ]:
# Same as for (int i = 0; i < 4; i++)
for i in range(4):
  print(i)

0
1
2
3

We can use different ranges as well. `range` function can take 3 parameters: 
`range(start-inclusive, stop-exclusive, step)`.

In [ ]:
# Same as for (int = 2; i > -3, i =- 2)
for i in range(2, -3, -2): 
    print(i)

<a id='while_loop'></a>
### While Loop

We can also use `while` loops.

In [ ]:
ind = 0
while ind < 5:
    print(ind)
    ind +=1

0
1
2
3
4

Special keywords, `break` and `continue` let's us control `for` and `while` 
loops.

In [ ]:
ind = 0
while ind < 5:
    if ind > 2: 
      break
    print(ind)
    ind += 1

0
1
2
3

In [ ]:
ind = 0
while ind < 5:
    ind += 1
    if ind == 2:
      continue
    print(ind)

1
3
4
5

Sometimes it is useful to tell `Python` not to do anything.
In these cases, we use the `pass` keyword.

In [ ]:
# Rewriting the above example using pass
ind = 0
while ind < 5:
    ind += 1
    if ind == 2:
      pass
    else:
      print(ind)

1
3
4
5

### Looping Issues

One of the most common errors in looping is modifying the object while looping 
it.

Explore the following code to see why modifying the object you are looping over 
is dangerous.

In [ ]:
# This code attempts to print the list element by element
# while deleting each element after it is printed 

greetings = ['hello', 'hi', 'salve', 'ciao', 'bonjour', 'hola', 'merhaba', 'hallo']

for elem in greetings:                         
    print(elem) 
    # Remove first element           
    greetings.pop(0)
    print("Current state of greetings: " + str(greetings))
  
print("Final state of greetings: " + str(greetings))

hello
Current state of greetings: ['hi', 'salve', 'ciao', 'bonjour', 'hola', 'merhaba', 'hallo']
salve
Current state of greetings: ['salve', 'ciao', 'bonjour', 'hola', 'merhaba', 'hallo']
bonjour
Current state of greetings: ['ciao', 'bonjour', 'hola', 'merhaba', 'hallo']
merhaba
Current state of greetings: ['bonjour', 'hola', 'merhaba', 'hallo']
Final state of greetings: ['bonjour', 'hola', 'merhaba', 'hallo']

<a id='functions'></a>
## Functions

We can define functions in `Python`, similar to other programming languages.

Make sure to define your functions before calling them!

In [ ]:
# Define the function
def example_func(a, b):
    pass

# Call the function
example_func(5, 10)

Functions may have optional parameters.

In [ ]:
# Function checking whether the variable is withing a range
def check_range(a, min_val = 0, max_val=10):
    return min_val < a < max_val

# Calling the function
check_range(5, max_val=3)

False

Parameters of immutable types are passed by value. Mutable types are passed by 
reference.

In [ ]:
def example_function(variable):
  variable = 10
  print(variable)

a = 15
print(a)
example_function(a)
print(a)

15
10
15

In [ ]:
def example_function(variable):
  variable[0] = 10
  print(variable)

a = [0,1,2,3,4]
print(a)
example_function(a)
print(a)

[0, 1, 2, 3, 4]
[10, 1, 2, 3, 4]
[10, 1, 2, 3, 4]

If you want to prevent your function from changing the original values of the 
parameters passed in, you can make a deep copy inside your function before 
using your parameters.

In [ ]:
import copy

def example_function(variable):
  # Alternative 1
  variable = variable[:]
  
  # Alternative 2
  variable = copy.deepcopy(variable)

  variable[0] = 10
  print(variable)

a = [0,1,2,3,4]
print(a)
example_function(a)
print(a)

[0, 1, 2, 3, 4]
[10, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

Functions can access variables in their parent block's scope.

In [ ]:
outside_variable = "This is an outside variable!"

def some_function():
  print(outside_variable)

print(outside_variable)
some_function()

This is an outside variable!
This is an outside variable!

Functions can't change the values of the outside variables the same way.

In [ ]:
outside_variable = "This is an outside variable!"

def some_function():
  print(outside_variable)
  outside_variable = "Function changed the outside variable"

print(outside_variable)
some_function()

This is an outside variable!

UnboundLocalError: ignored

We can resolve this error using the `global` key.

In [ ]:
outside_variable = "This is an outside variable!"

def some_function():
  global outside_variable
  outside_variable = "Function changed the outside variable!"

print(outside_variable)
some_function()
print(outside_variable)

This is an outside variable!
Function changed the outside variable!

If a variable of the same name is defined in a function, the later definition 
overwrites the former only in the function scope.

In [ ]:
variable = "This is an outside variable!"

def some_function(variable="Function variable."):
  print(variable)

print(variable)
some_function()
print(variable)

This is an outside variable!
Function variable.
This is an outside variable!

Variables defined in a function can't be accessed outside.

In [ ]:
def some_function():
  function_variable = "This is a function variable!"
  print(function_variable)

some_function()
function_variable

This is a function variable!

NameError: ignored

Functions can also define variables to be used in the global scope, using the 
`global` key.

In [ ]:
def foo():
  global global_variable
  # If we try printing global_variable here, we would get a not defined error
  global_variable = "This is a global variable!"
  print(global_variable)

def bar():
  print(global_variable)

foo()
bar()

This is a global variable!
This is a global variable!

We can define functions within functions.

In [ ]:
def main_function(a):

  def helper_function(a):
    return int(a)

  print(a)
  b = helper_function(a)
  print(b)

# Calling the main function
main_function(2.0)
helper

2.0
2

Functions can take in functions as variables.

In [ ]:
def function_taker(a, func):
  return func(a)

function_taker(1.0, int)

int(1.0)

1

We can seperately define the function we need to pass.

In [ ]:
def parameter_function(x):
  return x + 5

def function_taker(a, func):
  return func(a)

function_taker(1.0, parameter_function)

6.0

We can also use `lambda` functions.

In [ ]:
def function_taker(a, func):
  return func(a)

function_taker(1.0, lambda x: x + 5)

6.0

`lambda` functions can use variables in their parent scope.

In [ ]:
num_to_add = 10

def function_taker(a, func):
  return func(a)

function_taker(1.0, lambda x: x + num_to_add)

11.0

We can also have recursive functions.

In [ ]:
def print_positive_numbers(num):
  if num <= 0:
    print("Done!")
  else:
    print(num)
    print_positive_numbers(num-1)

print_positive_numbers(10)

10
9
8
7
6
5
4
3
2
1
Done!

<a id='classes'></a>
## Classes

We have learned about built-in `Python` classes in the previous sections.
You can also define your own custom classes in `Python`.
In the homework assignments, your task will be to implement some methods of
a partially complete class provided to you. 
For example, you will be given the boilterplate code for a `NaiveBayes`
classifier, which is a type of a classifier we will cover in `Week 2`, and
will be asked to implement its `train` method.

The code block below shows how to instantiate a `Python` class.

In [ ]:
class Dog(object):

  # Constructor
  def __init__(self, name):
    self.name = name  # Create an instance variable

  # Instance method
  def bark(self):
    print(f"Bark! Bark! I am {self.name}")

d = Dog('Alfred')  # construct an instance of the Dog class
d.bark()           # call an instance method

Bark! Bark! I am Alfred

Let's observe the above example:
* __object:__ The `Dog` class is extending the `object` class, which is the 
base class that all `Python` classes extend by default.
We could also omit the `object` in the class definition (e.g. `class Dog()`), 
as `Python` automatically assumed a class extends the `object` class even if it 
is not written explicitly.
To extend a custom class, we can simply provide the name of the parent class in 
the class definition `class Dog(Animal)`.
If you are not sure what `extending` stands for, you can check out the short 
tutorial [here](https://www.w3schools.com/python/python_inheritance.asp) for 
your own learning, but understanding this isn't essential for our assignments.
* ____init__:__ The constructor in `Python` classes is named as `__init__`.
* __self:__ The first parameter of all the instance methods in `Python` is 
interpreted to be a reference to `self`.
This allows similar to `this` in `Java`.
On the other hand, name `self` isn't special in `Python`, the first parameter 
of an instance method is assumed to be a reference to self regardless of its 
name.

To complement your understanding of `Python` classes, you may also want to 
learn the following, but we will not use these in our assignments.
If we need you to understand the following in our assignments, we will make it 
clear.
* class variables
* @classmethod decorator
* @staticmethod decorator
* `super` call

<a id='next_steps'></a>
## Next Steps

You can also cover the following topics in this 
[learnpython Python Tutorial](https://www.learnpython.org/en/Welcome) if you 
would like to learn more about `Python`. 
Following sections can be of your interest:

* `Map, Filter, Reduce`: Very useful set of functional programming tools in 
`Python`.
You are not required to know these for our class, but you will find that they 
are quite handy tools. 
The section is a quick one too, so we recommend checking it out!
* `Generators`: Learning about `Generators` will help ground some of the
looping behavior we discussed in the Dictionaries section.
You don't have to know generators for our assignments. 
* `Decorators`: Decorators such as `@classmethod` and `@staticmethod` modify 
the functionality of the function they are attached to.